In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

In [21]:
df = pd.read_csv('a_example.in', sep=' ')
df.columns = ['start_row', 'star_col', 'end_row', 'end_col', 'earliest_start', 'latest_end']

with open('a_example.in') as f:
    first_line = re.sub(r'\n', '', f.readline())
    
dict(zip(['n_rows', 'n_cols', 'n_cars', 'n_rides', 'bonus', 'steps'], first_line.split(" ")))

{'bonus': '2',
 'n_cars': '2',
 'n_cols': '4',
 'n_rides': '3',
 'n_rows': '3',
 'steps': '10'}

In [10]:
df

   start_row  star_col  end_row  end_col  earliest_start  latest_end
0          0         0        1        3               2           9
1          1         2        1        0               0           9
2          2         0        2        2               0           9